@import "bourbon/bourbon";
@import "neat/neat";

$grey-font: #b0b0b0;
$primary-color: #779fe1;

body {
  font-family: 'Open Sans';
  font-style: 16px;
  line-height: 1.5em;
  background: #f0f0f0;
}

a {
  text-decoration: none;
  color: $primary-color;
  @include transition(all, 0.3s, ease);
  &:hover {
    color: shade($primary-color, 10%);
  }
}

.content {
  max-width: $max-width;
  margin: auto;
  padding: 0 $gutter;
}

.header {
  height: 4em;
  background: #ffffff;
  line-height: 4em;
}

.header-logo {
  float: left;
}

.header-nav {
  float: right;
  margin: 0;
  padding: 0;
  li {
    display: inline;
    margin-right: 1em;
    a {
      text-decoration: none;
      color: $grey-font;
      transition: all 0.5s ease;
      &:hover {
        color: #000;
      }
    }
  }
}

h1 {
  font-style: 2em;
  line-height: 1.5em;
  font-weight: 300;
}


.actual-lotto {
  @include row();
}

.actual-lotto--text {
  @include span-columns(8);
}

.actual-lotoo--calling {
  margin-top: 5em;
  text-align: center;
  @include span-columns(4);
}

.centered {
  text-align: center;
}

.btn {
  background: $primary-color;
  padding: 0.5em;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  @include transition(all, 0.5s, ease);
  &:hover {
    background: shade($primary-color, 10%);
  }
}

.btn-big {
  font-size: 1.5em;
}

.btn-block {
  display: block;
  width: 100%;
}
