<section class="tickets-selling">
  <div class="tickets-selling--description">
    <h1>Get your raffles!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel provident ut dicta beatae rem, sed inventore at minus eligendi, sint aperiam iusto assumenda adipisci. Voluptate ab, enim tempora! Odit, modi.</p>
  </div>
  <div class="tickets-selling--buy-form">
    <div class="tickets-box">
      <label for="quantity">Nº TICKETS</label>
      <br/>
      <input ng-change="refreshTotal()" ng-model="quantity" name="quantity" type="text" class="tickets-qty" placeholder="00" value="00">
    </div>
    <span class="times">X</span>
    <div class="tickets-box">
      <span>VALUE</span>
      <br/>
      <span class="value">{{value}}</span>
    </div>
    <span class="equals">=</span>
    <div class="tickets-box">
      <span>TOTAL</span>
      <span class="total"> {{total}} </span>
    </div>
  </div>
</section>
