<header class="header">
  <div class="content">
    <div class="header-logo">
      The Humble Lotto
    </div>
    <ul class="header-nav">
      <li><a href="#">About</a></li>
      <li><a href="#">Support</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
  </div>
</header>
<div class="content">
  <section class="actual-lotto">
    <div class="actual-lotto--text">
      <h1>The Humble Lotto is now in the fight against the childhood cancer.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus leo, sodales placerat lobortis ut, tincidunt volutpat nisl.</p>
      <a href="#">Read More</a>
    </div>
    <div class="actual-lotoo--calling">
      <a href="#" class="btn btn-big btn-block">GET A TICKET</a>
      <small>Get a chance to earn money and help charity!<br/> Tickets available from £2.50</small>
    </div>
  </section>
</div>
